
<div class="navbar-fixed">
	<nav class="teal lighten-4">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#personal" class="brand-logo">Curriculum Vitae</a>
				<a href="#" data-target="mobile-nav" class="sidenav-trigger">
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="#personal"> Profile</a>
					</li>
					<li>
						<a href="#projects">Projects and Portlio</a>
					</li>
					<li>
						<a href="#education">Education</a>
					</li>
					<li>
						<a href="#experience"> Experience</a>
					</li>
					<li>
						<a href="#resp"> Responsibilities</a>
					</li>
					<li>
						<a href="#social">Social Media</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<ul class="sidenav" id="mobile-nav">
	<li>
		<a href="#personal"> Profile</a>
	</li>
	<li>
		<a href="#projects">Projects and Portlio</a>
	</li>
	<li>
		<a href="#education">Education</a>
	</li>
	<li>
		<a href="#experience"> Experience</a>
	</li>
	<li>
		<a href="#resp"> Responsibilities</a>
	</li>
	<li>
		<a href="#social">Social Media</a>
	</li>
</ul>