body{
	font-family: 'Times';
	font-size: 18px!important;
}
.section-follow .fa-3x{
	margin:5px 13px;
}
.section-personal{
	margin-top: 0px!important;
	padding-top: 0px!important;
}
.section-projects{
	background-image: url(../img/wall10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: absolute;
}

.section-experience{
	background-image: url(../img/work6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: relative;
}
.section-contact{
	background-image: url(../img/work3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: relative;
	padding: 10px;
}
#education,#experience,#resp,#contact{
	min-height: 500px!important;
}
.work-exp{
	padding-top: 10px;
}
.duties{
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	padding: 10px;
}
.border-bottom{
	//border-bottom: 0.1px solid #e0e0e0;
}
.padding-bottom{
	//padding-bottom: 10px;
}
