{% extends 'layout.html' %}

{% block content %}
	<section id="personal" class="section  section-personal scrollspy">
	<div class="container">
		<div class="row">
			<div class="col s12 m6">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/default.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title"><h4>Kipngetich Ruto</h4></span>
					</div>
					<div class="card-content">
						I am information technology enthusiast with a great interest in software development
						using Python, PHP, JavaScript, Html5, and Css3. I am also taking self-study tutorials
						on Java and REST. I am looking for an opportunity to showcase my expertise as I
						work with the highest levels of honesty, quality, and integrity. 
					</div>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="card-panel teal lighten-4 white-text ">
					<h5 class="center">Contact Information</h5>
					<p>
						Please use the following information to contact me for any enquiry or clarification about my proffessional profile.
					</p>
				</div>
				<ul class="collection with-header">
					<li class="collection-header">
						<h4>Kipngetich Ruto</h4>
					</li>
					<li class="collection-item">ruto365@gmail.com / kipngetichruto73@gmail.com</li>
					<li class="collection-item">+254716350600</li>
					<li class="collection-item">P.O. Box +254716350600-00100,</li>
					<li class="collection-item">Nairobi.</li>

				</ul>
			</div>
		</div>
	</div>
</section>

<section id="projects" class="section section-projects scrollspy">
	<div class="container">
		<div class="row">
			<h3 class="center"><span class="teal-text text-lighten-3">Projects</span> And Portfolio</h3>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/wall10.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title">R254Developers</span>
					</div>
					<div class="card-content">
						This is the site that contains various links to resourceful materials for software engineers and technological ethusiasts. It also span the area of data analysis and data science.
						<a href="https://r254.github.io/r254developers" target="_blank">Read  More...</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/project_background.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title">Travel Tours Agency</span>
					</div>
					<div class="card-content">
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						It has survived not only five
						<a href="https://r254.github.io/traveltours" target="_blank">Read  More...</a> 
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/wall3.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title">Android Development</span>
					</div>
					<div class="card-content">
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						It has survived not only five 
						<a href="" target="_blank">Read  More...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/wall10.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title">R254Developers</span>
					</div>
					<div class="card-content">
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						It has survived not only five centuries
						<a href="" target="_blank">Read  More...</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/project_background.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title">Travel Tours Agency</span>
					</div>
					<div class="card-content">
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						It has survived not only five
						<a href="" target="_blank">Read  More...</a> 
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="{{ url_for('static', filename='img/wall3.jpg') }}" class="materialboxed responsive-img">
						<span class="card-title">Android Development</span>
					</div>
					<div class="card-content">
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						It has survived not only five 
						<a href="" target="_blank">Read  More...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="education" class="section scrollspy ">
	<div class="container">
		<h3 class="center">Educational Background</h3>
		<div class="row">
			<div class="col s12 m6">
				<h5><b>Proffessional Qualifications</b></h5>
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>Cisco Certified Network Associate(CCNA)</h5>
					</li>
					<li class="collection-item">Cisco Networking Academy</li>
					<li class="collection-item">Module 1 continuing</li>
					<li class="collection-item">Continuing</li>
				</ul>
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>Introduction to Cybersecurity</h5>
					</li>
					<li class="collection-item">Cisco Networking Academy</li>
					<li class="collection-item"> 2018</li>
				</ul>
			</div>
			<div class="col s12 m6">
				<h5><b>Academic Qualifications</b></h5>
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>B.Sc. (Mathematics and Computer Science)</h5>
					</li>
					<li class="collection-item"> Kenyatta University</li>
					<li class="collection-item">2013 - 2017</li>
				</ul>
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>Kenya Certificate of Secondary Education(K.C.S.E)</h5>
					</li>
					<li class="collection-item">Longisa High School</li>
					<li class="collection-item">2009 - 2012</li>
				</ul>
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>Kenya Certificate of Secondary Education(K.C.P.E)</h5>
					</li>
					<li class="collection-item">Kimenderit Primary School</li>
					<li class="collection-item">2001 - 2008</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="experience" class="section section-experience scrollspy center">
	<div class="container">
		<h3 class="white-text">Work Experience</h3>
	</div>
</section>

<section id="resp" class="section  scrollspy center">
	<div class="container">
		<h3>Responsibilities & Activities</h3>
	</div>
</section>

<section id="social" class="section section-follow teal lighten-2 white-text center scrollspy">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Follow Me</h3>
				<p>Follow me on social media for hobies and interests</p>
				<a href="#" class="white-text">
					<i class="fab fa-facebook fa-3x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-twitter fa-3x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-linkedin fa-3x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-instagram fa-3x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-pinterest fa-3x"></i>
				</a>
			</div>
		</div>
	</div>
</section>


<footer class="page-footer teal lighten-2">
          <div class="footer-copyright teal darken-1">
            <div class="container">
            <span>&copy; 2019 R254 Developers</span>
            <a class="grey-text text-lighten-4 right" href="#!">Designed By <i class="red-text text-lighten-4">Kipngetich Ruto</i></a>
            </div>
          </div>
        </footer>
{% endblock %}